<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar"
    aria-expanded="false" aria-controls="navbar"><i></i></a>
<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
    <div class="text-center">
        <div class="author-img" style="background-image: url(images/about.jpg);"></div>
        <h1 id="colorlib-logo"><a href="/">Gustavo Ilha Morais</a></h1>
        <span class="position"><a href="https://pt.wikipedia.org/wiki/Front-end_e_back-end" target="_blank">Backend
                Developer</a> at Curitiba, PR.</span>
    </div>
    <nav id="colorlib-main-menu" role="navigation" class="navbar">
        <div id="navbar" class="collapse">
            <ul>
                <li class="active"><a href="/" data-nav-section="home">Início</a></li>
                <li><a href="#about" data-nav-section="about">Sobre</a></li>
                <li><a href="#services" data-nav-section="services">Visão</a></li>
                <li><a href="#skills" data-nav-section="skills">Habilidades</a></li>
                <li><a href="#education" data-nav-section="education">Educação</a></li>
                <li><a href="#experience" data-nav-section="experience">Experiência</a></li>
                <li><a href="#work" data-nav-section="work">Portfólio</a></li>
                <li><a href="#blog" data-nav-section="blog">Blog</a></li>
                <li><a href="#contact" data-nav-section="contact">Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="colorlib-footer">
        <p><small>&copy;
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </span>
                <ul>
                    <li><a href="https://www.facebook.com/gustavo.ilhamorais"><i class="icon-facebook2"></i></a>
                    </li>
                    <li><a href="https://twitter.com/cyber_gust"><i class="icon-twitter2"></i></a></li>
                    <li><a href="https://www.instagram.com/gust.1977/"><i class="icon-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/gustavo-ilha-morais-283b19161/"><i
                                class="icon-linkedin2"></i></a></li>
                </ul>
    </div>

</aside>
