<div id="colorlib-page">
	<div class="container-wrap">
		{{>_navbar}}
		<div id="colorlib-main">
			<div class="container">
				<div id="post">
					{{>_postGitSSH}}
				</div>

				<section class="colorlib-blog" data-section="blog">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
								data-animate-effect="fadeInLeft">
								<span class="heading-meta">Read</span>
								<h2 class="colorlib-heading">Recent Blog</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
								<div class="blog-entry">
									<a href="/blog" class="blog-img"><img src="images/blog-1.jpg" class="img-responsive"
											alt="Blog"></a>
									<div class="desc">
										<span><small>May 3, 2019 </small> | <small> Web Development </small> | <small>
												<i class="fab fa-node"></i> 1</small></span>
										<h3><a href="/blog">Crie e configure uma chave SSH para o seu GitHub</a></h3>
										<p>
											Aprenda a instalar o Git, criar uma chave SSH e configurá-la no seu GitHub.

										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 animate-box">
								<p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i
											class="icon-reload"></i></a></p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
</div><!-- end:colorlib-page -->