<div id="colorlib-page">
	<div class="container-wrap">
		{{>_navbar}}
		<div id="colorlib-main">
			<section id="colorlib-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
						<li style="background-image: url(images/img_bg_1.jpg);">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div
										class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
										<div class="slider-text-inner js-fullheight">
											<div class="desc">
												<h1>Hi! <br>I'm Gust</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li style="background-image: url(images/img_bg_2.jpg);">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div
										class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
										<div class="slider-text-inner">
											<div class="desc">
												<h1>I am <br>a backend developer</h1>
												<h2>This webpage was made to show my nodeJS abilities.</h2>
												<p><a class="btn btn-primary btn-learn" href="#skills">View Portfolio <i
															class="icon-briefcase3"></i></a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">About me</span>
										<h2 class="colorlib-heading">Who Am I?</h2>
										<p>
											<strong>Hi I'm Gustavo Morais</strong>, I am 22 years old and I live in
											Curitiba. When I finished my school
											I started to study law at PUCPR. After a year and a half I decided that even
											the law being such a relevant
											knowledge, I should abandon it and go after technology. So I started to
											study Systems Analysis and Development
											at PUCPR. From the time I was a kid I had fun creating scripts on the old
											computer we had at home, which later
											made me familiar with programming languages like PHP and Python.
										</p>
										<p>
											Nowadays I'm in love with nodeJS and what it can do. I'm focused on learning
											everyday more and more about ecmascript
											and web development. Since I've started on "web development's universe" I
											was taken by curiosity and the desire to
											build more and more applications.
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-bulb"></i></span>
										<h3>Front End</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3>Back End</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>Database</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-phone3"></i></span>
										<h3>Mobile</h3>
									</div>
								</div>
							</div>
							{{!-- <div class="row">
							<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
								<div class="hire">
									<h2>I am happy to know you <br>that 300+ projects done sucessfully!</h2>
									<a href="#" class="btn-hire">Hire me</a>
								</div>
							</div>
						</div> --}}
						</div>
					</div>
				</div>
			</section>



			<section class="colorlib-services" data-section="services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">What I do?</span>
							<h2 class="colorlib-heading">Point of view</h2>
						</div>
					</div>
					<div class="row row-pt-md">
						<div class="col-md-4 text-center animate-box">
							<div class="services color-1">
								<span class="icon">
									<i class="far fa-lightbulb"></i>
								</span>
								<div class="desc">
									<h3>Creative Ideas</h3>
									<p>
										To solve problems is what I like doing, everytime it is possible I will solve it
										in a different and creative way!
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-4">
								<span class="icon">
									<i class="fas fa-layer-group"></i>
								</span>
								<div class="desc">
									<h3>Fullstack</h3>
									<p>
										Over time I have acquired the ability to develop applications from the backend
										to the frontend.
										Using technologies like NodeJS, MongoDB, Handlebars and Bootstrap.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-2">
								<span class="icon">
									<i class="fas fa-sitemap"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>
										There are a many types of technologies, which means there are many ways to solve
										the same problem. I enjoy looking to different frameworks, databases and even
										languages
										that I already make use of, and figure out if there is a better way to get more
										quality on a service.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="skills" class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">My Specialty</span>
							<h2 class="colorlib-heading animate-box">My Skills</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<p>
								I made this website to be a piece of my portfolio. To build the backend I've used NodeJS
								as server and
								ExpressJS framework as my routes manager. Since the frontend is a free template I had to
								manipulate the
								html to add it to the handlebars-engine's way of building html views and fill it with my
								own content.
								It was deployed at Heroku and you can see the code at my <a
									href="https://github.com/CyberGust/personalportfolio" target="_blank">GitHub</a>.
							</p>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>NodeJS <i class="fab fa-node-js"></i></h3>
								<div class="progress">
									<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
										aria-valuemin="0" aria-valuemax="100" style="width:90%">
										<span>90%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>ExpressJS <i class="fas fa-code-branch"></i></h3>
								<div class="progress">
									<div class="progress-bar color-2" role="progressbar" aria-valuenow="60"
										aria-valuemin="0" aria-valuemax="100" style="width:90%">
										<span>90%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>MongoDB <i class="fas fa-database"></i></h3>
								<div class="progress">
									<div class="progress-bar color-3" role="progressbar" aria-valuenow="85"
										aria-valuemin="0" aria-valuemax="100" style="width:80%">
										<span>80%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Handlebars(HTML5) <i class="fab fa-html5"></i></h3>
								<div class="progress">
									<div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
										aria-valuemin="0" aria-valuemax="100" style="width:85%">
										<span>85%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Bootstrap <i class="fab fa-bootstrap"></i></h3>
								<div class="progress">
									<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
										aria-valuemin="0" aria-valuemax="100" style="width:70%">
										<span>70%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Photoshop <i class="fab fa-adobe"></i></h3>
								<div class="progress">
									<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
										aria-valuemin="0" aria-valuemax="100" style="width:75%">
										<span>75%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">Education</span>
							<h2 class="colorlib-heading animate-box">Education</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
													aria-expanded="true" aria-controls="collapseOne">
													English
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
											aria-labelledby="headingOne">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-6">
														<p>Advanced English speaking, reading and writing skills
															certificated by Wizard Language School.</p>
													</div>
													<div class="col-md-6">
														<p>My birth language is portuguese. I love it as much I love
															English.</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingNode">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
													href="#collapseNode" aria-expanded="false"
													aria-controls="collapseNode">
													NodeJS
												</a>
											</h4>
										</div>
										<div id="collapseNode" class="panel-collapse collapse" role="tabpanel"
											aria-labelledby="headingNode">
											<div class="panel-body">
												<p>
													My main development language is NodeJS. Although I'm not
													certificated, you can see my portfolio
													at my <a href="https://github.com/CyberGust?tab=repositories"
														target="_blank">GitHub</a>. Currently
													it is my main object of work and study. I intend to get the highest
													level on nodeJS and Javascript
													development skills.
												</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
													href="#collapseTwo" aria-expanded="false"
													aria-controls="collapseTwo">
													PhP Certification
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
											aria-labelledby="headingTwo">
											<div class="panel-body">
												<p>In 2018 I was certificated by <strong>Udemy</strong> as a PhP
													Developer.</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
													href="#collapseThree" aria-expanded="false"
													aria-controls="collapseThree">
													Python Certification
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
											aria-labelledby="headingThree">
											<div class="panel-body">
												<p>
													In 2018 I was certificated by <strong>Michigan University and
														Coursera</strong> as a Junior Python Developer.
													<ul>
														<li>Udemy python certifications: Android, iOS, Windows, Linux
															and Mac developer</li>
														<li>Machine Learning and Data Science with Python</li>
													</ul>
												</p>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingFour">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
													href="#collapseFour" aria-expanded="false"
													aria-controls="collapseFour">
													Diploma in Computer Technician
												</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
											aria-labelledby="headingFour">
											<div class="panel-body">
												<p>
													While I was graduating at High Scholl, I had the oportunity of get a
													diploma in Computer Technician at <strong>Colégio Milenium</strong>,
													which is the same institution I graduated my High School.
												</p>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingFive">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
													href="#collapseFive" aria-expanded="false"
													aria-controls="collapseFive">
													High School Education
												</a>
											</h4>
										</div>
										<div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
											aria-labelledby="headingFive">
											<div class="panel-body">
												<p>
													I'm graduated at <strong> Milenium College </strong>. It is one of
													the best of São José dos Pinhais,
													which is the city I live since I was 6 years old. I am very thankful
													to be part of the history of
													College Milenium and I hope they keep teaching and learning for a
													long time. The time I was there,
													they teach using COC's material, a very good private lesson material
													provider.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="experience" class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">Experience</span>
							<h2 class="colorlib-heading animate-box">Work Experience</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="timeline-centered">
								<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
									<div class="timeline-entry-inner">

										<div class="timeline-icon color-1">
											<i class="fas fa-flask"></i>
										</div>

										<div class="timeline-label">
											<h2><a href="#">Full Stack Developer as Freelancer</a> <span>2019</span>
											</h2>
											<p>
												Since late 2018 I'm working as a freelancer fullstack web developer.
												Most of my jobs were building Single Page Applications.
												But I had the oportunity to build and help at the development of some
												APIs and other REST applications.
											</p>
										</div>
									</div>
								</article>


								<article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
									<div class="timeline-entry-inner">
										<div class="timeline-icon color-2">
											<i class="fas fa-flask"></i>
										</div>
										<div class="timeline-label">
											<h2>System Analist at <a href="http://www.go4.technology"
													target="_blank">GO4 Technology</a>
												<span>2017-2018</span></h2>
											<p>
												From early 2017 to late 2018 I was working with GO4 Technology's team as
												a
												Junior System Analist. I was responsible for developing new features to
												the
												company's products, such as smart cameras, Mobile Video Recorders and
												monitoring
												systems. I took care of intranet, web page, all the company's local and
												cloud servers (Google Cloud)
												as well. I was responsible for a 3 members team, we worked on field
												implementations and technology
												reverse engineering.
											</p>
										</div>
									</div>
								</article>


								<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
									<div class="timeline-entry-inner">
										<div class="timeline-icon color-5">
											<i class="fas fa-flask"></i>
										</div>
										<div class="timeline-label">
											<h2>Trainee Lawyer at <a href="http://www.rochaetormesadvocacia.com.br/"
													target="_blank">Rocha and Tormes</a> <span>2016-2017</span></h2>
											<p>
												While studying law, I was helping and learning at this law firm. I was
												able to learn a lot in a short time.
												Although not what I wanted it was a great and indispensable experience.
												Now I think I can help improve
												not just the law, but all sorts of things in modern society with my
												skills that are always being perfected.
											</p>
										</div>
									</div>
								</article>

								<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
									<div class="timeline-entry-inner">
										<div class="timeline-icon color-3">
											<i class="fas fa-flask"></i>
										</div>
										<div class="timeline-label">
											<h2>General Assistent at <a href="http://ramonacosmeticos.com.br/index.html"
													target="_blank">Ramona Cosmetics</a> <span>2014-2015</span></h2>
											<p>
												I worked with this cosmetics brand as a general assistent before
												starting my Law Studies at PUCPR.
												I used to take care of the I.T. cases like help hiring developers to
												develop brand systems and Single Page Applications and
												setup the routers, repeaters, local machines as well. I used to do
												simple editions for the brand using Photoshop too.
											</p>
										</div>
									</div>
								</article>

								<article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
									<div class="timeline-entry-inner">
										<div class="timeline-icon color-none">
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">My Work</span>
							<h2 class="colorlib-heading animate-box">Find more at <a
									href="https://github.com/CyberGust?tab=repositories">GitHub</a>.</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
						<div class="col-md-12">
							<p class="work-menu"><span><a href="#" class="active">Web Development</a></span></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(images/img-1.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="http://www.bproducoes.com" target="_blank">B Productions</a></h3>
										<span>Single Page Application (website)</span>
										<p class="icon">
											<span><a href="http://www.bproducoes.com" target="_blank">Visit <i
														class="fas fa-share"></i></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="project" style="background-image: url(images/img-2.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="https://github.com/CyberGust/cdccontrole" target="_blank">Product
												Manager</a></h3>
										<span>A web application capable of control where are your goods with a mongo
											database.</span>
										<p class="icon">
											<span><a href="https://github.com/CyberGust/cdccontrole"
													target="_blank">Visit <i class="fas fa-share"></i></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInTop">
							<div class="project" style="background-image: url(images/img-3.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="https://github.com/CyberGust/casadochoppwebpage"
												target="_blank">Casa do Chopp</a></h3>
										<span>Single Page Application</span>
										<p class="icon">
											<span><a href="https://github.com/CyberGust/casadochoppwebpage"
													target="_blank">Visit <i class="fas fa-share"></i></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-blog" data-section="blog">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">Read</span>
							<h2 class="colorlib-heading">Recent Blog</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="/blog" class="blog-img"><img src="images/blog-1.jpg" class="img-responsive"
										alt="Blog"></a>
								<div class="desc">
									<span><small>May 3, 2019 </small> | <small> Web Development </small> | <small> <i
												class="fab fa-node"></i> 1</small></span>
									<h3><a href="/blog">Configure uma chave SSH para o seu GitHub em 5 passos</a></h3>
									<p>
										Aprenda a instalar o Git, criar uma chave SSH e configurá-la no seu GitHub em 5
										curtos passos.

									</p>
								</div>
							</div>
						</div>
					</div>
					{{!-- <div class="row">
						<div class="col-md-12 animate-box">
							<p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i
										class="icon-reload"></i></a></p>
						</div>
					</div> --}}
				</div>
			</section>

			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">Get in Touch</span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm animate-box"
								data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="#">gustavoilhamorais@gmail.com</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box"
								data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-map"></i>
								</div>
								<div class="colorlib-text">
									<p>Curitiba, Brasil.</p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box"
								data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">+554 199 167 7276</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box"
									data-animate-effect="fadeInRight">
									<form method="POST" action="/send">
										<div class="form-group">
											<input name="contactName" type="text" class="form-control"
												placeholder="Name">
										</div>
										<div class="form-group">
											<input name="contactEmail" type="text" class="form-control"
												placeholder="Email">
										</div>
										<div class="form-group">
											<input name="messageSubject" type="text" class="form-control"
												placeholder="Subject">
										</div>
										<div class="form-group">
											<textarea name="message" cols="30" rows="7" class="form-control"
												placeholder="Message"></textarea>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary btn-send-message"
												value="Send Message">
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>

		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
</div><!-- end:colorlib-page -->