<div id="colorlib-page">
  <div class="container-wrap">
    {{>_navbar}}
    <div id="colorlib-main">
      <section id="colorlib-hero" class="js-fullheight" data-section="home">
        <div class="flexslider js-fullheight">
          <ul class="slides">
            <li style="background-image: url(images/img_bg_1.jpg);">
              <div class="overlay"></div>
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text"
                  >
                    <div class="slider-text-inner js-fullheight">
                      <div class="desc">
                        <h1>Gustavo Ilha Morais</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
              <div class="overlay"></div>
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text"
                  >
                    <div class="slider-text-inner">
                      <div class="desc">
                        <h1>Desenvolvedor de Software</h1>
                        <h2>Fullstack</h2>
                        <p><a class="btn btn-primary btn-learn" href="#skills">Ver Portfólio <i
                          class="icon-briefcase3"
                        ></i></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="colorlib-about" data-section="about">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div class="col-md-12">
              <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                <div class="col-md-12">
                  <div class="about-desc">
                    <span class="heading-meta">Sobre mim</span>
                    <h2 class="colorlib-heading">Quem sou eu:</h2>
                    <p>
                      <strong>Eu me chamo Gustvo</strong>, tenho 24 anos e moro em Curitiba. Sou desenvolvedor de
                                                         software,
                                                         especialista em APIs REST e front-end reativo. Tenho quatro
                                                         anos de experiência com desenvolvimento web.
                                                         Comecei há programar há 12 anos para me divertir no colégio. Há
                                                         nove anos fiz um curso técnico de informática,
                                                         há 8 anos comecei a desenvolver websites como freelancer.
                                                         Depois de abandonar o curso de direito em 2017,
                                                         entrei para o mercado de tecnologia atuando na área de IoT,
                                                         redes e programação de baixo nível (programação
                                                         de hardwares).
                    </p>
                    <p>
                      Atualmente trabalho como líder do front-end da aplicação <a
                      href="https://meuml.com"
                      target="_blank"
                    >MeuML.com</a> e sou responsável
                      pela definição da arquitetura, elaboração de tarefas e prioridades, implementação de padrões de
                      projeto,
                      implementação e revisão de código e refatoração.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                  <div class="services color-1">
                    <span class="icon2"><i class="icon-bulb"></i></span>
                    <h3>Front End</h3>
                  </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                  <div class="services color-2">
                    <span class="icon2"><i class="icon-globe-outline"></i></span>
                    <h3>Back End</h3>
                  </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
                  <div class="services color-3">
                    <span class="icon2"><i class="icon-data"></i></span>
                    <h3>Database</h3>
                  </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
                  <div class="services color-4">
                    <span class="icon2"><i class="icon-phone3"></i></span>
                    <h3>Mobile</h3>
                  </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
                  <div class="services color-5">
                    <span class="icon2"><i class="icon-beaker"></i></span>
                    <h3>IoT</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                  <div class="hire">
                    <h2>Estou feliz que você tenha chegado até aqui!&nbsp;<br>São mais de dez anos desenvolvendo
                        aplicações.</h2>
                    <a href="#" class="btn-hire">
                      Chamar&nbsp;<span class="icon2"><i class="icon-phone"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="colorlib-services" data-section="services">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div
              class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
              data-animate-effect="fadeInLeft"
            >
              <span class="heading-meta">O que eu faço:</span>
              <h2 class="colorlib-heading">Visão</h2>
            </div>
          </div>
          <div class="row row-pt-md">
            <div class="col-md-4 text-center animate-box">
              <div class="services color-1">
								<span class="icon">
									<i class="far fa-lightbulb"></i>
								</span>
                <div class="desc">
                  <h3>Resolução de problemas</h3>
                  <p>
                    Minha principal habilidade é resolver os problemas das empresas utilizando tecnologia.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center animate-box">
              <div class="services color-4">
								<span class="icon">
									<i class="fas fa-layer-group"></i>
								</span>
                <div class="desc">
                  <h3>Fullstack</h3>
                  <p>
                    Ao longo dos anos aprendi a ignorar as barreiras técnicas e focar em concluir o objetivo.
                    Portanto, hoje eu posso trabalhar em todas as etapas do desenvolvimento de software, desde o mobile
                    até o cloud.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center animate-box">
              <div class="services color-2">
								<span class="icon">
									<i class="fas fa-sitemap"></i>
								</span>
                <div class="desc">
                  <h3>Ferramentas</h3>
                  <p>
                    Cada situação demanda uma abordagem única. Minha metodologia envolve escolher as ferramentas
                    mais adequadas para cada tipo de necessidade. Sem favoritismos, apenas preferências.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="skills" class="colorlib-skills" data-section="skills">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div
              class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
              data-animate-effect="fadeInLeft"
            >
              <span class="heading-meta">Especialidades</span>
              <h2 class="colorlib-heading animate-box">Habilidades técnicas</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
              <p>
                A seguir você pode ter uma noção do nível em que eu me vejo atualmente nas ferramentas que utilizo no
                dia a dia.
              </p>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
              <div class="progress-wrap">
                <h3>Javascript <i class="fab fa-js-square"></i></h3>
                <div class="progress">
                  <div
                    class="progress-bar color-1" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100" style="width:100%"
                  >
                    <span>100%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
              <div class="progress-wrap">
                <h3>Sass <i class="fab fa-sass"></i></h3>
                <div class="progress">
                  <div
                    class="progress-bar color-2" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%"
                  >
                    <span>70%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
              <div class="progress-wrap">
                <h3>Python <i class="fab fa-python"></i></h3>
                <div class="progress">
                  <div
                    class="progress-bar color-3" role="progressbar" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100" style="width:80%"
                  >
                    <span>80%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
              <div class="progress-wrap">
                <h3>ReactJS <i class="fab fa-react"></i></h3>
                <div class="progress">
                  <div
                    class="progress-bar color-4" role="progressbar" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100" style="width:85%"
                  >
                    <span>95%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
              <div class="progress-wrap">
                <h3>Bash <i class="fas fa-terminal"></i></h3>
                <div class="progress">
                  <div
                    class="progress-bar color-5" role="progressbar" aria-valuenow="85"
                    aria-valuemin="0" aria-valuemax="100" style="width:85%"
                  >
                    <span>85%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
              <div class="progress-wrap">
                <h3>Photoshop <i class="fab fa-adobe"></i></h3>
                <div class="progress">
                  <div
                    class="progress-bar color-6" role="progressbar" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100" style="width:75%"
                  >
                    <span>70%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="colorlib-education" data-section="education">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div
              class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
              data-animate-effect="fadeInLeft"
            >
              <span class="heading-meta">Education</span>
              <h2 class="colorlib-heading animate-box">Education</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
              <div class="fancy-collapse-panel">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a
                          data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne"
                        >
                          English
                        </a>
                      </h4>
                    </div>
                    <div
                      id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                      aria-labelledby="headingOne"
                    >
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>Advanced English speaking, reading and writing skills
                               certificated by Wizard Language School.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a
                          class="collapsed" data-toggle="collapse" data-parent="#accordion"
                          href="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Java Certification
                        </a>
                      </h4>
                    </div>
                    <div
                      id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                      aria-labelledby="headingTwo"
                    >
                      <div class="panel-body">
                        <p>Em 2018 fui certificado pela <strong>Universidade Positivo</strong> como desenvolvedor Java.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a
                          class="collapsed" data-toggle="collapse" data-parent="#accordion"
                          href="#collapseThree" aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Python Certification
                        </a>
                      </h4>
                    </div>
                    <div
                      id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                      aria-labelledby="headingThree"
                    >
                      <div class="panel-body">
                        <p>
                          In 2018 I was certificated by <strong>Michigan University and
                                                                Coursera</strong> as a Junior Python Developer.
                        <ul>
                          <li>Udemy python certifications: Android, iOS, Windows, Linux
                              and Mac developer
                          </li>
                          <li>Machine Learning and Data Science with Python</li>
                        </ul>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a
                          class="collapsed" data-toggle="collapse" data-parent="#accordion"
                          href="#collapseFour" aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                          Diploma in Computer Technician
                        </a>
                      </h4>
                    </div>
                    <div
                      id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                      aria-labelledby="headingFour"
                    >
                      <div class="panel-body">
                        <p>
                          While I was graduating at High Scholl, I had the oportunity of get a
                          diploma in Computer Technician at <strong>Colégio Milenium</strong>,
                          which is the same institution I graduated my High School.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title">
                        <a
                          class="collapsed" data-toggle="collapse" data-parent="#accordion"
                          href="#collapseFive" aria-expanded="false"
                          aria-controls="collapseFive"
                        >
                          High School Education
                        </a>
                      </h4>
                    </div>
                    <div
                      id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                      aria-labelledby="headingFive"
                    >
                      <div class="panel-body">
                        <p>
                          I'm graduated at <strong> Milenium College </strong>. It is one of the best of São José dos
                          Pinhais, which is the city I live since I was 6 years old. I am very thankful to be part of
                          the history of College Milenium and I hope they keep teaching and learning for a long time.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="experience" class="colorlib-experience" data-section="experience">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div
              class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
              data-animate-effect="fadeInLeft"
            >
              <span class="heading-meta">Experiência</span>
              <h2 class="colorlib-heading animate-box">Experiência profissional</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-centered">
                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                  <div class="timeline-entry-inner">

                    <div class="timeline-icon color-1">
                      <i class="fas fa-flask"></i>
                    </div>

                    <div class="timeline-label">
                      <h2>Front-end & mobile developer at <a href="https://meuml.com">Bitflix</a> <span>2019 - atualmente</span>
                      </h2>
                      <p>
                        Desde 2019 contribuo com a aplicação <a href="https://meuml.com">MeuML.com</a> como
                        desenvolvedor
                        front-end, especialista em ReactJS e React Native.
                      </p>
                    </div>
                  </div>
                </article>


                <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon color-2">
                      <i class="fas fa-flask"></i>
                    </div>
                    <div class="timeline-label">
                      <h2>System Analist at <a
                        href="http://www.go4.technology"
                        target="_blank"
                      >GO4 Technology</a>
                        <span>2017-2018</span></h2>
                      <p>
                        From early 2017 to late 2018 I was working with GO4 Technology's team as
                        a
                        Junior System Analist. I was responsible for developing new features to
                        the
                        company's products, such as smart cameras, Mobile Video Recorders and
                        monitoring
                        systems. I took care of intranet, web page, all the company's local and
                        cloud servers (Google Cloud)
                        as well. I was responsible for a 3 members team, we worked on field
                        implementations and technology
                        reverse engineering.
                      </p>
                    </div>
                  </div>
                </article>


                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon color-5">
                      <i class="fas fa-flask"></i>
                    </div>
                    <div class="timeline-label">
                      <h2>Trainee Lawyer at <a
                        href="http://www.rochaetormesadvocacia.com.br/"
                        target="_blank"
                      >Rocha and Tormes</a> <span>2016-2017</span></h2>
                      <p>
                        While studying law, I was helping and learning at this law firm. I was
                        able to learn a lot in a short time.
                        Although not what I wanted it was a great and indispensable experience.
                      </p>
                    </div>
                  </div>
                </article>

                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon color-3">
                      <i class="fas fa-flask"></i>
                    </div>
                    <div class="timeline-label">
                      <h2>General Assistent at <a
                        href="http://ramonacosmeticos.com.br/index.html"
                        target="_blank"
                      >Ramona Cosmetics</a> <span>2014-2015</span></h2>
                      <p>
                        I worked with this cosmetics brand as a general assistent before
                        starting my Law Studies at PUCPR.
                        I used to take care of routers, repeaters, local machines as well. I used to do
                        simple editions for the brand using Photoshop too, and take cara of data using excel.
                      </p>
                    </div>
                  </div>
                </article>


                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon color-4">
                      <i class="fas fa-flask"></i>
                    </div>
                    <div class="timeline-label">
                      <h2>Freelancer web designer <span>2012-2015</span></h2>
                      <p>
                        Atuei como freelancer web designer por três anos, criando logos, cartões de visita, websites,
                        banners,
                        entre outros tipos de arte.
                      </p>
                    </div>
                  </div>
                </article>

                <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon color-none">
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="colorlib-work" data-section="work">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div
              class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
              data-animate-effect="fadeInLeft"
            >
              <span class="heading-meta">Portfólio</span>
              <h2 class="colorlib-heading animate-box">Veja algum código no <a
                href="https://github.com/gustavoilhamorais?tab=repositories"
              >GitHub</a>.</h2>
            </div>
          </div>
          <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
            <div class="col-md-12">
              <p class="work-menu"><span><a href="#" class="active">Web Development</a></span></p>
            </div>
          </div>
          <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
            <div class="project" style="background-image: url(images/clubeamigosdobem.png);">
              <div class="desc">
                <div class="con">
                  <h3><a href="https://clubeamigosdobem.com.br" target="_blank">Clube Amigos do Bem</a></h3>
                  <span>Clube Amigos do Bem (web app)</span>
                  <p class="icon">
											<span><a href="https://clubeamigosdobem.com.br" target="_blank">Visitar <i
                        class="fas fa-share"
                      ></i></a></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
            <div class="project" style="background-image: url(images/meuml.png);">
              <div class="desc">
                <div class="con">
                  <h3><a href="https://meuml.com" target="_blank">MeuML.com</a></h3>
                  <span>MeuML.com</span>
                  <p class="icon">
											<span><a href="https://meuml.com" target="_blank">Visitar <i
                        class="fas fa-share"
                      ></i></a></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
              <div class="project" style="background-image: url(images/img-1.jpg);">
                <div class="desc">
                  <div class="con">
                    <h3><a href="http://www.bproducoes.com" target="_blank">B Productions</a></h3>
                    <span>Single Page Application (website)</span>
                    <p class="icon">
											<span><a href="http://www.bproducoes.com" target="_blank">Visit <i
                        class="fas fa-share"
                      ></i></a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
              <div class="project" style="background-image: url(images/img-2.jpg);">
                <div class="desc">
                  <div class="con">
                    <h3><a href="https://github.com/CyberGust/cdccontrole" target="_blank">Product
                                                                                           Manager</a></h3>
                    <span>A web application capable of control where are your goods with a mongo
											database.</span>
                    <p class="icon">
											<span><a
                        href="https://github.com/CyberGust/cdccontrole"
                        target="_blank"
                      >Visit <i class="fas fa-share"></i></a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInTop">
              <div class="project" style="background-image: url(images/img-3.jpg);">
                <div class="desc">
                  <div class="con">
                    <h3><a
                      href="https://github.com/CyberGust/casadochoppwebpage"
                      target="_blank"
                    >Casa do Chopp</a></h3>
                    <span>Single Page Application</span>
                    <p class="icon">
											<span><a
                        href="https://github.com/CyberGust/casadochoppwebpage"
                        target="_blank"
                      >Visit <i class="fas fa-share"></i></a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="colorlib-blog" data-section="blog">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div
              class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
              data-animate-effect="fadeInLeft"
            >
              <span class="heading-meta">Read</span>
              <h2 class="colorlib-heading">Recent Blog</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
              <div class="blog-entry">
                <a href="/blog" class="blog-img"><img
                  src="images/blog-1.jpg" class="img-responsive"
                  alt="Blog"
                ></a>
                <div class="desc">
									<span><small>May 3, 2019 </small> | <small> Web Development </small> | <small> <i
                    class="fab fa-node"
                  ></i> 1</small></span>
                  <h3><a href="/blog">Configure uma chave SSH para o seu GitHub em 5 passos</a></h3>
                  <p>
                    Aprenda a instalar o Git, criar uma chave SSH e configurá-la no seu GitHub em 5
                    curtos passos.

                  </p>
                </div>
              </div>
            </div>
          </div>
          {{!-- <div class="row">
                        <div class="col-md-12 animate-box">
                            <p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i
                                        class="icon-reload"></i></a></p>
                        </div>
                    </div> --}}
        </div>
      </section>

      <section class="colorlib-contact" data-section="contact">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div
              class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
              data-animate-effect="fadeInLeft"
            >
              <span class="heading-meta">Entre em contato!</span>
              <h2 class="colorlib-heading">Contato</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div
                class="colorlib-feature colorlib-feature-sm animate-box"
                data-animate-effect="fadeInLeft"
              >
                <div class="colorlib-icon">
                  <i class="icon-globe-outline"></i>
                </div>
                <div class="colorlib-text">
                  <p><a href="#">gustavoilhamorais@gmail.com</a></p>
                </div>
              </div>

              <div
                class="colorlib-feature colorlib-feature-sm animate-box"
                data-animate-effect="fadeInLeft"
              >
                <div class="colorlib-icon">
                  <i class="icon-map"></i>
                </div>
                <div class="colorlib-text">
                  <p>Curitiba, Brasil.</p>
                </div>
              </div>

              <div
                class="colorlib-feature colorlib-feature-sm animate-box"
                data-animate-effect="fadeInLeft"
              >
                <div class="colorlib-icon">
                  <i class="icon-phone"></i>
                </div>
                <div class="colorlib-text">
                  <p><a href="tel://">+55 41 9 8451 0271</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-md-push-1">
              <div class="row">
                <div
                  class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box"
                  data-animate-effect="fadeInRight"
                >
                  <form method="POST" action="/send">
                    <div class="form-group">
                      <input
                        name="contactName" type="text" class="form-control"
                        placeholder="Nome"
                      >
                    </div>
                    <div class="form-group">
                      <input
                        name="contactEmail" type="text" class="form-control"
                        placeholder="Email"
                      >
                    </div>
                    <div class="form-group">
                      <input
                        name="messageSubject" type="text" class="form-control"
                        placeholder="Assunto"
                      >
                    </div>
                    <div class="form-group">
											<textarea
                        name="message" cols="30" rows="7" class="form-control"
                        placeholder="Mensagem"
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <input
                        type="submit" class="btn btn-primary btn-send-message"
                        value="Enviar Mensagem"
                      >
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

    </div><!-- end:colorlib-main -->
  </div><!-- end:container-wrap -->
</div><!-- end:colorlib-page -->
